<div class="container-fuild">
  <!-- Start The Fisrt Part Header -->
  <section id="first-part">
    <header>
      <i class="fa fa-cart-plus"></i><span>Taskhira</span>
    </header>
    <div id="market" class="carousel slide" data-ride="carousel">

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/market2.jpg" alt="Market" class="imgMarket">
        </div>
        <div class="carousel-item">
          <img src="../assets/market5.jpg" alt="Market" class="imgMarket">
        </div>
        <div class="carousel-item">
          <img src="../assets/market3.jpg" alt="Market" class="imgMarket">
        </div>
      </div>

    </div>
    <div id="logIn">
      <div><a href="#"><i class="fa fa-user"></i><span>Me connecter</span></a></div>
      <div><a href="#"><i class="fa fa-user-plus"></i><span>M'Inscrire</span></a></div>
      <div routerLinkActive="active"><a routerLink="collection"><i class="fa fa-user-secret"></i><span>Administration</span></a></div>

    </div>
    <div id="title">
      <h1>Vos produits frais<br>sélectionnés avec soin<br>livrés chez vous</h1>
    </div>
    <div id="detail">
      <a href="#">
        <span>En Savoir Plus</span>
        <i class="fa fa-angle-down "></i>
      </a>
    </div>
  </section>
  <!-- End The First Part Of Header -->
  <!-- Start The Selection Marche -->
  <div class="form-inline">
    <label for="pays" class="mb-2 mr-sm-2 lead font-weight-light">Pays</label>
    <select class="form-control mb-2 mr-sm-2" id="pays">
      <option></option>
    </select>
    <label for="quartier" class="mb-2 mr-sm-2 lead font-weight-light">Quartier</label>
    <select class="form-control mb-2 mr-sm-2" id="quartier">
      <option></option>
    </select>
    <label for="marche" class="mb-2 mr-sm-2 lead font-weight-light">Marche</label>
    <select class="form-control mb-2 mr-sm-2" id="marche">
      <option></option>
    </select>
    <button type="button" class="btn btn-primary mb-2 hvr-bounce-in">Valider</button>
  </div>
  <!-- End The Selection Marche -->



</div>

