/* Start The First Part  Header */
#first-part
{
  position: relative;
}
#first-part header
{
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: 9999;
  font-size: 220%;
  color: #fff
}
#first-part header span
{
  margin-left: 8px
}
#first-part #market .carousel-inner img
{
  width: 100%;
}
#first-part #logIn
{
  position: absolute;
  top: 5%;
  right: 4%;
}
#first-part #logIn div
{
  margin-left: 20px;
  font-size: 110%;
  color: #fff;
  z-index: 9999;
  display: inline-block;
}
#first-part #logIn div span
{
  margin-left: 8px
}
#first-part #title
{
  position: absolute;
  top: 25%;
  left: 30%;
}
#first-part #title h1
{
  font-size: 300%;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
#first-part #detail
{
  position: absolute;
  bottom: 1%;
  left: 38%;
  font-size: 300%;
  color: #fff;
  line-height: 60px;
}
#first-part #detail i
{
  margin-left: 43%
}
/* End The First Part Header */
/* Start March Part */
.form-inline
{
  position: absolute;
  top: 60%;
  left: 15%;
  z-index: 9999;

}
.form-inline .form-control
{
  width: 200px;
}
.form-inline label
{
  color: #ffffff;
  font-size: 150%;
}
/* End March Part */
