
<!-- The Modal -->
<div class="modal fade" id="myProduit">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Crée Produit</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-form-label col-4" for="reference">Reference Produit</label>
          <input class="form-control col-8" id="reference" type="text" placeholder="Reference Produit" />
        </div>
        <div class="form-group row">
          <label class="col-form-label col-4" for="libelle">Libelle Produit</label>
          <input class="form-control col-8" id="libelle" type="text" placeholder="Libelle Produit" />
        </div>
        <div class="form-group row">
          <label class="col-form-label col-4" for="qte">Quantite Stock Produit</label>
          <input class="form-control col-8" id="qte" type="number" placeholder="Quantite Stock Produit" />
        </div>
        <div class="form-group row">
          <label class="col-form-label col-4" for="categorie">Categorie</label>
          <select class="form-control col-8" id="categorie" >
            <option *ngFor="let cat2 of categories" value="{{cat2.referenceCategorie}}">{{cat2.libelle}}</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-4" for="unite">Unite Mesure</label>
          <select class="form-control col-8" id="unite" >
            <option *ngFor="let unit1 of unites" value="{{unit1.referenceUnit}}">{{unit1.nom}}</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-4" for="image">Image Produit</label>
          <input class="form-control-file col-8" id="image" type="file" placeholder="Selectioner Une Image" />
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="button" class="btn btn-outline-info" value="Cree Produit"/>
      </div>

    </div>
  </div>
</div>

