<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myCategorie">Crée Categorie</button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myUnit">Crée Unite De Mesure</button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myProduit">Crée Produit</button>
  </div>
</div>
<app-categorie-create></app-categorie-create>

<app-unite-mesure-create></app-unite-mesure-create>

<app-produit-create></app-produit-create>
